body {
	background-color: transparent;
	display: block;
	width: 100%;
  margin: auto;
}

main {
	flex: 1 0 auto;
}

input {
	color: white !important;
  font-family: 'Montserrat', sans-serif;
}

span {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: white;
}

.cd-buttons {
  margin: auto;
  display: flex;
}

ul li {
  margin-left: 0 !important;
}

.cd-popup-container h1 {
  font-size: xx-large;
}

B {
  color: #1ed799;
  display: contents;
}

.sidebar.divspe div {
  margin: auto;
}

#prix {
  font-size: 150%;
}

#mention {
  color: white;
  text-decoration: underline;
}

#logo {
	width: 64px;
	height: 64px;
}

#traiteur {
  padding-left: 5%;
  padding-bottom: 2%;
}

#boisson {
  padding-left: 5%;
  padding-bottom: 2%;
}

#wait {
  padding-left: 5%;
  padding-bottom: 2%;
}

#seminaire {
  padding-left: 5%;
}

#tempsReunion, #tempsPleniere {
  padding-left: 3%;
}

.nombreReunion {
  padding-left: 3%;
  width: 15%;
}

#alert {
  text-align: justify;
}

#formTel {
  display: none;
}

#reunion div label {
  display: inline-block;
}

.divspe {
  display: flex;
}

.boutton {
  text-align: center;
}

/*popup*/

#cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

#cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  padding: 1%;
  background: #212121;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.cd-popup-container p {
  padding: 5% 3%;
}

.cd-popup-container h4 {
  padding-top: 5%;
  color: white;
}

.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}

.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}

.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.cd-popup-container .cd-popup-close::before, .cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}

.cd-popup-container .cd-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}

.cd-popup-container .cd-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}

.is-visible .cd-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

#logo2 {
  width: 50%;
}

@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}

@media (max-width: 640px) {
  body {
    width: 100%;
  }

  label {
    font-size: x-large;
  }

  input {
    font-size: x-small !important;
  }

  select {
    font-size: medium;
  }

  table {
    font-size: xx-small;
  }

  #formTel input {
    max-width: 65%;
  }

  #formTel label {
    max-width: 30%;
  }

  #formTel2 .divspe input {
    max-width: 50%;
  }

  #formTel2 .divspe select {
    max-width: 50%;
    font-size: 45%;
    min-width: 0;
  }

  #formTel2 .divspe label {
    max-width: 50%;
  }

  #reunionTel label span {
    max-width: 75%;
  }

  #reunionTel input {
    max-width: 35%;
  }

  .collapsible-header {
    font-size: xx-large;
  }

  .section {
    display: block !important;
  }

  .sidebar {
    display: none;
    width: 80% !important;
    padding-left: 10% !important;
    font-size: larger !important;
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .content {
    width: 89% !important;
    padding-left: 5% !important;
  }

  .modal {
    width: auto !important;
  }

  #form {
    display: none;
  }

  #formTel {
    display: block;
  }

  #reunionTel input[type=number]:not(.browser-default) {
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
  }
}

.sidebarTel {
  display: none;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0%;
  top: 82%;
  padding-left: 2%;
  font-size: larger;
  background-color: #222;
  text-align: center;
  z-index: 1;
}

/*////// MATERIALIZE //////*/

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none;
}

ul:not(.browser-default) > li {
  list-style-type: none;
}

/* 2dp elevation modified*/
.z-depth-1, .btn, .collapsible {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.z-depth-1-half, .btn:hover {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/*********************
  Media Query Classes
  **********************/

  @media only screen and (max-width: 992px) {
    .hide-on-med-and-down {
      display: none !important;
    }
  }

  table, th, td {
    border: none;
  }

  table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 15px;
    background-color: #333;
    color: #FFF;
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  td, th {
    padding: 2% 1%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
  }

  .section {
    display: flex;
    padding: 5%;
    position: relative;
    background-color: transparent;
  }

  a {
    text-decoration: none;
  }

  html {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
  }

  h1, h2, h3, h4, h5, h6 {
    color: white;
  }

  h1 a {
    font-weight: inherit;
  }

  .btn, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    background-color: white;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: white;
  }

  .btn-flat {
    background-color: black;
  }

  .modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
  }

  .collapsible {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: 0.5rem 0 1rem 0;
  }

  .collapsible-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: #222;
    color: white;
    border-bottom: 1px solid #ddd;
  }

  .collapsible-header:focus {
    outline: 0;
  }

  .collapsible-header i {
    width: 2rem;
    font-size: 1.6rem;
    display: block;
    text-align: center;
    margin: auto;
  }

  .collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem;
  }

  label {
    display: block;
    margin: auto;
    padding-right: 2%;
    color: white;
    font-size: medium;
    padding-top: 0.5%;
    padding-bottom: 1%;
  }

/* Text Inputs + Textarea
========================================================================== */
/* Style Placeholders */
::-webkit-input-placeholder {
  color: #d1d1d1;
}
::-moz-placeholder {
  color: #d1d1d1;
}
:-ms-input-placeholder {
  color: #d1d1d1;
}
::-ms-input-placeholder {
  color: #d1d1d1;
}
::placeholder {
  color: #d1d1d1;
}

/* Text inputs */
input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #eceff1;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: medium;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

#reunion input[type=number]:not(.browser-default) {
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

/* Radio Buttons
========================================================================== */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[type="radio"] + span:before,
[type="radio"] + span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 0;
  -webkit-transition: .28s ease;
  transition: .28s ease;
}

/* Disabled style */
.btn[disabled] {
  pointer-events: none;
  background-color: #DFDFDF;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #9F9F9F;
  cursor: default;
}

/* Unchecked styles */
[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after,
[type="radio"]:checked + span:before,
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border-radius: 50%;
}

[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
  border: 2px solid #5a5a5a;
}

[type="radio"]:not(:checked) + span:after {
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* Checked styles */
[type="radio"]:checked + span:before {
  border: 2px solid transparent;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
  border: 2px solid white;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: white;
}

[type="radio"]:checked + span:after {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

/* Radio With gap */
[type="radio"].with-gap:checked + span:after {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

/* Select Field
========================================================================== */

select.browser-default {
  display: block;
}

select {
  background-color: rgba(34, 34, 34, 0.9) !important;
  display: none;
  color: white !important;
  width: 100%;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
}

select:disabled {
  color: rgba(0, 0, 0, 0.42);
}

.sidebar {
  background-color: white;
  width: 30%;
  text-align: center;
  margin-left: 5%;
  border-radius: 15px;
  font-size: 200%;
}

.sidebar p {
  color : black;
  font-size: x-large;
}

.content {
  max-width: 1280px;
  width: 70%;
}

.dropdown-content.select-dropdown {
  display: none;
}