nav div a:hover {
	text-decoration: underline;
}

body {
	background-color: #E0E0E0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

input {
	color: white;
}

#logo {
	width: 64px;
	height: 64px;
}

.parallax-container {
	height: 250px;
}

p {
	color: white;
}

#choix {
	display: none;
	align-content: center;
}

#prix {
	color: white;
}

.datepicker-date-display {
	background-color: #212121;
}

.datepicker-table td.is-selected {
    background-color: #212121;
}

.datepicker-cancel {
	color: #212121;
}

.datepicker-done {
	color: #212121;
}